@media screen and (max-width:767px){

    .pets__header{
        .container{
            padding: 30px 10px 30px 10px;
        }
    }

    .burger-menu{
        span{
            background-color: black;
        }
        &:after{
            background-color: black;
        }
        &:before{
            background-color: black;
        }
    }
    .burger-header{
        background-color: #FFFFFF;
    }

    .container{
        padding-bottom: 42px;
    }

    .ourpets__content{
        row-gap: 42px;
    }

    .ourpets__navigation{
        gap: 10px;
        margin-top: 0;
    }

    .button_main{
        h4{
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.06em;
        text-align: center;
        }
    }
 
}
// better use 599px breakpoint
@media screen and (max-width:767px) {
    .ourpets__cardscontainer{
        width: 270px;
    }
    .slider__card:nth-child(6){
        display: none;
    }
    .slider__card:nth-child(5){
        display: none;
    }
    .slider__card:nth-child(4){
        display: none;
    }
}
